# Render will set these automatically or you can set them in the dashboard
DATABASE_URL=postgresql://postgres:password@db.example.com:5432/postgres
DIRECT_URL=postgresql://postgres:password@db.example.com:5432/postgres
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,your-render-app.onrender.com,cimore.vercel.app
